.add-option-errorMessage{
    font-style: italic;
    color:whitesmoke;
    padding: 0 10px;
}

.add-option__form{
    display: flex;
    padding: $body-size;
}

.add-option__input{
    display: flex;
    flex-grow: 1;
    margin-right: 1rem;
    padding-left: 2rem;
}

@media(max-width:$desktop-width){
    .add-option__form{
        flex-direction: column;
    }
    .add-option__input{
        margin:0 0 1rem 0;
        padding: 1.5rem;
    }
}