//Color

$header-bgcolor:#292925;
$header-subtitlecolor: #af7e3f;
$header-titlecolor: #ffc800;
$button-color:#dc5632;
$widget-header-color:#644722c2;
$widget-body-color:#3b3834;

//Font-Size:

$body-size:1.6rem;
$title-size: 3.8rem;
$subtitle-size: 1.8rem;

//Width

$desktop-width:48rem;